<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<div id="products">
  <%= render @list.products || "No products found yet." %>
</div>

<hr />

<div id="product_form">
  <%= render "products/form", :list => @list, :product => Product.new  %>
</div>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>