<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<div id="products">
  <%= content_tag(:span, "No products found yet.") if @list.products.empty? %>
  
  <%= form_tag complete_list_products_path(@list), :method => :put do %>
    <ul>
      <%= render @list.products %>
    </ul>
    <%= submit_tag "Enviar" unless @list.products.empty? %>
  <% end %>
</div>

<hr />

<div id="product_form">
  <%= render "products/form", :list => @list, :product => Product.new  %>
</div>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>